footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80px;
    background-color: #dfe0e1;
}
.copyright p{
    margin-bottom: 0;
    color: #6c757d;
}
.copyright a{
    text-decoration: none;
    color: #155fa5;
}
.copyright a:hover{
    text-decoration: underline;
}